.container{
    background-color: #fff;
    padding: 10px 40px;
    border-bottom: 1px solid #f1f1f1;

    .head{
        display: flex;
        .txt{
            width: 100px;
            opacity: 0;
        }
    }
    .loadArea{
      display: flex;
      justify-content: center;
    }
}